@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-gt-america: 'GT America', sans-serif;

  }
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GTAmericaMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GTAmericaBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
